name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout repository
      uses: actions/checkout@v4

    # Set up Python environment
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install dvc dvc-gs

    # Configure service account credentials for DVC + GCP auth
    - name: Configure credentials
      run: |
        echo "${{ secrets.GCP_SA_KEY }}" | base64 --decode > key.json
        export GOOGLE_APPLICATION_CREDENTIALS="$PWD/key.json"
    - name: Debug key.json
      run: |
        echo "---- key.json content ----"
        cat key.json
        echo "---- end key.json ----"


    # Modify DVC remote to use provided credentials
    - name: Setup DVC Remote
      run: |
        dvc remote modify gcsremote credentialpath "$PWD/key.json"

    # Pull Data + Model via DVC
    - name: DVC Pull
      run: |
        dvc pull

    # Authenticate gcloud for deployment
    - name: Google Cloud Auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    # Build Docker image and push to GCR
    - name: Build and push image to GCR
      run: |
        gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/pima-mlops-dvc

    # Deploy to Cloud Run
    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy pima-mlops \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/pima-mlops-dvc \
          --platform managed \
          --region ${{ secrets.GCP_REGION }} \
          --allow-unauthenticated
