name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install dvc dvc-gs

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Pull latest data and model from DVC
      run: |
        dvc pull

    - name: Build and push Docker image
      run: |
        gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/pima-mlops-dvc

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy pima-mlops \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/pima-mlops-dvc \
          --platform managed \
          --region ${{ secrets.GCP_REGION }} \
          --allow-unauthenticated
